logs/
node_modules/
/authserver/logs/
/ui-implicit/logs/

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
.gradle
/build/
/authserver/build/
/ui-implicit/build/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

