/logs/
/authserver/logs/
/authserver/out/
/authserver/build/
/resourceserver/logs/
/resourceserver/out/
/resourceserver/build/
/ui-spa/logs/
/ui-spa/dist/
/ui-spa/node_modules/
/ui-spa/src/main/resources/static/
/ui-spa/out/
/ui-spa/build/
/ui/out/
/build/
/ui/build/

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
.gradle
